.jumbotron {
    background-color: yellow;
    color: black;
    margin-top: 50px;
}

footer {
    padding: 10px 10px 0 10px;
    background-color: yellow;
    margin-bottom: 8px;
    margin-top: 10px;
}

.card-hotel {
    flex: 1 200px;
    margin-top: 10px;
}

.btn-reserva {
    width: 100%;
    border-radius: 0;
}

address p {
    margin-bottom: auto;
}

.footer-address-icon {
    margin-right: 8px;
}

.card-button-icon {
    margin-right: 5px;
}

@media (min-width: 1024px) {

    .carousel,
    .carousel img {
        height: 450px;
    }
}
